    <!doctype html>

    <html lang="en">

      <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <!-- Style CSS -->
        <link rel="stylesheet" href="./assets/css/style.css">

        <title>Boolflix</title>

        <!-- Favicon -->
        <link rel="icon" href="" type="image/png" />

        <!-- Google fonts -->

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

      </head>

      <body>

        <!-- Creare un layout base con una searchbar (una input e un button) in cui possiamo scrivere completamente o parzialmente il nome di un film. Possiamo, cliccando il  bottone, cercare sull’API tutti i film che contengono ciò che ha scritto l’utente. -->
        <div id="app">

          <header>

            <nav class="navbar navbar-light bg-light">
              <div class="container-fluid">
                <a class="navbar-brand">Boolflix</a>
                <div class="d-flex">
                  <input @keyup.enter="ricerca" v-model="input" type="cerca" placeholder="Cerca" aria-label="">
                </div>
              </div>
            </nav>
      
          </header>

          <main>

            <div class="contain d-flex justify-content-center flex-wrap my-4">

              <div v-for="(movie, index) in risultato" class="card m-1">

                <div class="front">
                  <img style="height: 420px; padding: 0; border: none;" :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" class="img-thumbnail" alt="...">
                </div>
                
                <div class="back">
                  <h5 class=""> Titolo: {{movie.title || movie.name}}</h5>
                  <p class="">{{movie.original_title || movie.original_name}}</p>

                  <!-- Trasformiamo la stringa statica della lingua in una vera e propria bandiera della nazione corrispondente -->
                  <img width="50px" :src="'https://www.unknown.nu/flags/images/' + movie.original_language + '-100'" :alt="movie.original_language" :alt="movie.original_language">
                  <a href="#">{{movie.vote_average}}</a>

                  <div>
                    Vote:
                    <i class="fas fa-star" v-for="number in giudizio(movie.vote_average)"></i>
                    <i class="far fa-star" v-for="number in 5 - giudizio(movie.vote_average)"></i>
                  </div>
                  
                </div>

              </div>

            </div>
            
          </main>

          <footer></footer>

          <div v-if="error" id="errore">

            {{error}}

          </div>

        </div>

        <!-- Optional JavaScript; choose one of the two! -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./assets/js/app.js"></script>

      </body>

    </html>
